<div class="mx-auto flex w-full max-w-3xl">
  {{ blocks }}
    {{ if type === 'about_set' }}
      {{ partial:blocks/about }}
    {{ elseif type === 'collection_list_set' }}
      <section id="{{ collections_field }}" class="mb-24">
        {{ partial:blocks/{{collections_field}}-list }}
      </section>
    {{ elseif type === 'hero_set' }}
      <section id="hero"></section>
      {{ partial:blocks/hero }}
      </section>
    {{ /if }}
  {{ /blocks }}
</div>