<!DOCTYPE html>
<html lang="{{ site:short_locale }}" class="scroll-smooth">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title ?? site:name }}</title>
  <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}" />
</head>
<body class="bg-zinc-900 text-white">
  <div class="min-h-screen relative">
    <div class="pb-[30rem]">
      {{ partial:navbar }}

      <div class="mx-auto items-center justify-center mt-24 px-6 sm:px-12">
        {{ template_content }}
      </div>
    </div>
    
    {{ partial:footer }}
  </div>

  <script src="{{ mix src='/js/site.js' }}"></script>
  <script src="https://kit.fontawesome.com/7fee30aa1d.js" crossorigin="anonymous"></script>
</body>
</html>