<div class="mx-auto mt-20 flex w-full max-w-3xl">
  <div>
    <h1 class="my-10 text-4xl font-bold sm:text-7xl">Tags</h1>
  
    <div class="mt-5 flex">
      {{ tags }}
        <a href="/tags/{{ slug }}"
          class="mr-2 rounded-xl bg-fuchsia-900/50 px-3 py-1 text-sm transition-colors hover:bg-fuchsia-900/80">
          {{ title }}
        </a>
      {{ /tags }}
    </div>
  </div>
</div>