<div class="mx-auto flex w-full max-w-3xl">
  <div>
    <h1 class="my-10 text-4xl font-bold sm:text-7xl">{{ title }}</h1>

    <ul class="mt-5">
    {{ entries }}
      <li>
        {{ collection.title }}:

        <a class="hover:text-fuchsia-500/80 underline transition-colors" href="{{ url }}">
          {{ title }}
        </a>
      </li>
    {{ /entries }}
    </ul>
  </div>
</div>