{{ form:contact_form }}
  {{ if success }}
    <div class="bg-green-300 p-2 text-white">{{ success }}</div>
    <script>
      alert("Bedankt voor je bericht!");
    </script>
  {{ else }}
    {{ if errors }}
      <div class="bg-red-300 p-2 text-white">
        {{ errors }}
          {{ value }}<br />
        {{ /errors }}
      </div>
    {{ /if }}
    {{ fields }}
      <div class="form-field my-1">{{ field }}</div>
      {{ if error }}
        <p class="text-gray-500">{{ error }}</p>
      {{ /if }}
    {{ /fields }}

    <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}" />

    <button class="w-full rounded-xl bg-fuchsia-700 px-5 py-2.5 text-center transition-colors hover:bg-fuchsia-900/80"
      type="submit">
      Verstuur
    </button>
  {{ /if }}
{{ /form:contact_form }}