<footer class="bg-zinc-600/30 w-full absolute bottom-0 h-[30rem] sm:h-96 border-zinc-800 border-t-2">
  <div class="flex-1 sm:flex sm:flex-between mt-10 py-5 px-5 max-w-4xl mx-auto">
    <div class="w-full sm:w-1/4">
      <div class="max-w-[5rem]">
        {{ footer:link_list }}
          <a class="footer-link" href="{{ url }}" {{ is_external ? "target=\"_blank\"" : "" }}>
            <div class="flex my-2">
              <img src="{{ icon }}" class="w-5 h-5 mr-2 invert self-center">
              <span>{{ title }}</span>
            </div>
          </a>
        {{ /footer:link_list }}
      </div>
    </div>
    
    <div id="contact" class="w-full sm:w-3/4">
      <h4 class="text-xl font-bold">Contact</h4>
      {{ partial:contact-form }}
    </div>
  </div>
</footer>