<nav class="fixed top-0 left-0 z-20 w-full border-b border-zinc-800 bg-zinc-900/60 backdrop-blur-[4px]">
  <div class="container mx-auto flex flex-wrap items-center justify-between">
    <a href="/" class="flex items-center ml-4">
      <span class="self-center whitespace-nowrap text-xl font-semibold">DaanAug</span>
    </a>
    <div class="w-auto items-center justify-between flex" id="navbar-sticky">
      <ul class="flex items-center p-4 flex-row space-x-3 sm:space-x-8 text-sm font-medium">
        {{ nav:collection:pages }}
          <li>
            <a href="{{ url }}" class="text-white/60 transition-colors hover:text-zinc-200 text-center"
              aria-current="page">
              {{ title }}
            </a>
          </li>
        {{ /nav:collection:pages }}

        <li>
          <a href="#contact"
            class="mr-3 rounded-lg bg-fuchsia-900/50 px-5 py-2.5 text-center text-sm font-medium text-white transition-colors hover:bg-fuchsia-900/80">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>