<div class="mx-auto mt-20 flex w-full max-w-3xl">
  <article class="project-content">
    <img class="mb-5 rounded-xl" src="{{ featured_image:url }}" alt="{{ featured_image:alt }}" />

    <h1 class="text-7xl font-bold">{{ title }}</h1>

    <a class="text-fuchsia-500/80 underline hover:text-fuchsia-100" target="_blank" href="{{ repository_link }}">
      Bekijk project op GitLab
      <i class="fa-solid fa-arrow-up-right-from-square ml-1 text-sm"></i>
    </a>
    {{ if tags }}
      <div class="my-5 flex">
        {{ tags }}
          <a href="/tags/{{ slug }}"
            class="mr-2 rounded-xl bg-fuchsia-900/50 px-3 py-1 text-sm transition-colors hover:bg-fuchsia-900/80">
            {{ title }}
          </a>
        {{ /tags }}
      </div>
    {{ /if }}
    {{ bard_field }}
      {{ text }}
    {{ /bard_field }}
    {{ if skills }}
      <div class="my-5 grid gap-4 text-center md:grid-cols-4">
        {{ skills }}
          <div class="h-auto rounded-lg border border-zinc-800 bg-zinc-800 p-4">
            <h3 class="text-2xl font-bold">
              {{ name }}
            </h3>
            <p class="text-xl">
              {{ description }}
            </p>
          </div>
        {{ /skills }}
      </div>
    {{ /if }}
  </article>
</div>