<div class="mb-24">
  <h2 class="my-10 text-4xl font-bold sm:text-7xl">{{ title }}</h2>
  <div class="sm:flex-between w-full sm:flex">
    <div class="grow">
      <p>{{ content }}</p>
    </div>
    <div class="shrink-0 sm:ml-8">
      <img
        class="mx-auto mt-3 max-h-52 rounded-2xl border border-white/50 sm:mx-0 sm:mt-0"
        src="{{ image.url }}"
        alt="{{ image.alt }}"
      />
    </div>
  </div>
</div>
