<div class="mx-auto w-full flex-1">
  <h2 class="my-10 text-4xl font-bold sm:text-7xl">Blogs</h2>
  {{ collection:blogs :limit="{{display_amount ?? 5}}" sort="date:desc" }}
  <div class="mb-10">
    <a
      href="{{ url }}"
      class="text-3xl font-bold transition-colors hover:text-fuchsia-600"
      >{{ title }}</a
    >
    <p class="tracking-tight">
      <span class="text-white/60">{{ date format="d-m-Y" }}</span>
      <span>&#8212;</span>
      <span>{{ description }}</span>
    </p>

    {{ if tags}}
    <div class="mt-5 flex items-center">
      {{ tags }}
      <a
        href="/tags/{{ slug }}"
        class="mr-2 rounded-xl bg-fuchsia-900/50 px-3 py-1 text-sm transition-colors hover:bg-fuchsia-900/80"
      >
        {{ title }}
      </a>
      {{ /tags }}
    </div>
    {{ /if }}
  </div>
  {{ /collection:blogs }}
</div>
