<div class="flex h-[75vh] flex-col items-center justify-center">
  <div class="flex w-full flex-col items-center justify-between sm:flex-row">
    <div class="flex w-full content-center justify-center sm:w-1/2 sm:justify-start">
      <div class="my-3 text-center sm:text-start">
        <div class="text-5xl font-bold sm:my-3 sm:text-7xl md:text-8xl">
          <h2 class="cursor-default" id="name">{{ name }}</h2>
        </div>
        <p class="text-xl uppercase tracking-widest md:text-2xl">
          {{ subtitle }}
        </p>
      </div>
    </div>
    <div class="flex w-full justify-center sm:w-1/2 sm:justify-end"></div>
  </div>
</div>
<script src="/js/components/name-animation.js"></script>