<div class="mx-auto w-full flex-1">
  <h2 class="my-10 text-4xl font-bold sm:text-7xl">Projects</h2>

  {{collection:projects :limit="{{display_amount ?? 5}}"}}
  <div class="w-full">
    <div class="grid gap-x-5 md:grid-cols-2">
      <div>
        <a
          href="{{ url }}"
          class="text-3xl font-bold transition-colors hover:text-fuchsia-600"
          >{{ title }}</a
        >
        <div class="m-auto block md:hidden">
          <img
            class="aspect-video rounded-lg object-cover my-1"
            src="{{featured_image}}"
          />
        </div>

        <p>{{description}}</p>
        {{ if tags }}
        <div class="mt-5 flex">
          {{ tags }}
          <a
            href="/tags/{{ slug }}"
            class="mr-2 rounded-xl bg-fuchsia-900/50 px-3 py-1 text-sm transition-colors hover:bg-fuchsia-900/80"
          >
            {{ title }}
          </a>
          {{ /tags }}
        </div>
        {{ /if }}
      </div>
      <div class="hidden md:block">
        <img
          class="aspect-video rounded-xl object-cover"
          src="{{featured_image}}"
        />
      </div>
    </div>
  </div>
  {{/collection:projects }}
</div>
