<div class="mx-auto flex w-full max-w-3xl mt-20">
  <article class="blog-content">
    <div class="mb-8 flex flex-col sm:flex-row sm:items-center">
      <div class="flex-1 pr-5 text-sm">
        <span class="text-zinc-300/80">{{ date }}</span>
      </div>
      {{ if tags }}
        <div class="mt-5 flex">
          {{ tags }}
            <a href="/tags/{{ slug }}"
              class="mr-2 rounded-xl bg-fuchsia-900/50 px-3 py-1 text-sm transition-colors hover:bg-fuchsia-900/80">
              {{ title }}
            </a>
          {{ /tags }}
        </div>
      {{ /if }}
    </div>

    <h1>{{ title }}</h1>

    {{ bard_field }}
      {{ if type === 'introduction_set' }}
        {{ partial:blog/introduction }}
      {{ /if }}
      {{ if type === 'image_set' }}
        {{ partial:blog/image }}
      {{ /if }}
      {{ if type === 'code_set' }}
        {{ partial:blog/code }}
      {{ /if }}
      {{ if type === 'quote_set' }}
        {{ partial:blog/quote }}
      {{ /if }}
      {{ if type === 'idea_set' }}
        {{ partial:blog/idea }}
      {{ /if }}
      {{ text }}
    {{ /bard_field }}


    {{#
     <div class="mb-10">
          <p class="text-2xl text-white">
            Now remember, things look bad and it looks like you're not gonna make it,
            then you gotta get mean. I mean plumb, mad-dog mean.
          </p>
        </div>
      
        <p>
          I know what you're thinking. Did he fire six shots or only five? Well to
          tell you the truth in all this excitement I've kinda lost track myself. But
          being this is a . 44 Magnum - the most powerful hand gun in the world and
          would blow your head clean off, you've got to ask yourself one question: Do
          I feel lucky?&nbsp;<a
            target="_blank"
            href="https://www.youtube.com/watch?v=lpzNa1aHp2Y"
            >Well, do ya punk?</a
          >
        </p>
        <div class="image">
          <img
            src="/img/asset/YXNzZXRzL3RheWxvci1icmFuZG9uLTZScmVhdkh4d3hnLXVuc3BsYXNoLmpwZw==?w=860&amp;s=249e6089593d35c6f224a24197e31ca8"
            alt=""
            loading="lazy"
          />
      
          <figcaption class="mb-8">
            <p class="mb-0 text-sm text-zinc-500">
              Photo by <a href="https://unsplash.com/@house_42">Taylor Brandon</a
              ><br />
            </p>
          </figcaption>
        </div>
        <blockquote>
          <p><em>“Do I feel lucky? Well, do ya punk?”</em></p>
         </blockquote>
    #}}
  </article>
</div>