body {
    font-family: "Liberation Mono", monospace;
}

@keyframes hover {
    0% {
        color: inherit;
        /* opacity: 0; */
    }

    50% {
        /* opacity: 1; */
        color: var(--crazy-color, rgb(15, 230, 97));
    }

    100% {
        color: inherit;
        /* opacity: 0; */
    }
}

.hover-animation {
    animation-name: hover;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.blog-content,
.project-content {
    @apply font-sans text-lg;

    > h1 {
        @apply mb-10 text-5xl font-bold md:text-7xl;
    }

    > h2 {
        @apply text-4xl font-bold;
    }

    > h3 {
        @apply text-2xl font-bold;
    }

    > h4 {
        @apply text-xl font-bold;
    }

    > p {
        @apply mb-6 text-zinc-300/80;
    }

    > p a {
        @apply text-fuchsia-500/80 underline hover:text-fuchsia-100;
    }
}

.image-caption,
.quote-caption {
    @apply mt-1 text-sm text-zinc-500;

    > p a {
        @apply text-fuchsia-500/80 underline hover:text-fuchsia-100;
    }
}

.footer-link {
    @apply underline transition-colors hover:text-fuchsia-500/80;
}

.form-field > input,
.form-field > textarea {
    @apply w-full rounded-xl p-2 text-black;
}
.form-field > textarea {
    @apply h-[4em];
}
